In [1]:
import numpy as np
import pandas as pd

In [7]:
sms_data = pd.read_csv('SMSSpamCollection' , sep = '\t' , header = None , names = ['Label' , 'SMS'])

In [9]:
sms_data.head()

  Label                                                SMS
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [10]:
sms_data.groupby('Label').count()

        SMS
Label
ham    4825
spam    747

In [105]:
sms_data_clean = sms_data.copy()

In [108]:
sms_data_clean['SMS'] = sms_data_clean['SMS'].str.replace('\W+', ' ').str.replace('\s+', ' ').str.strip()

In [112]:
sms_data_clean['SMS'] = sms_data_clean['SMS'].str.lower()

In [116]:
sms_data_clean['SMS'] = sms_data_clean['SMS'].str.split()

In [121]:
def train_test_split(data,test_size):
    data = data.sample(frac = 1)
    train_size = int((1-test_size)*len(data))
    train_data = data.iloc[:train_size].reset_index(drop=True)
    test_data = data.iloc[train_size:].reset_index(drop=True)
    return train_data,test_data

In [122]:
train_data,test_data = train_test_split(sms_data_clean,0.2)

In [124]:
(train_data['Label'].value_counts()/train_data.shape[0])*100

ham     86.40341
spam    13.59659
Name: Label, dtype: float64

In [132]:
vocabulary=list(set(train_data['SMS'].sum()))

In [133]:
len(vocabulary)

7740

In [135]:
len(train_data['SMS'].sum())

72529

In [142]:
bag_of_words_ham = list(train_data.loc[train_data['Label'] == 'ham','SMS'].sum())

In [147]:
len(bag_of_words_ham)

57118

In [143]:
bag_of_words_spam = list(train_data.loc[train_data['Label'] == 'spam','SMS'].sum())

In [148]:
len(bag_of_words_spam)

15411